.button {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #16BF13 0%, #17FF75 55.42%, #16C014 100%), linear-gradient(270.01deg, #1AFF77 3.39%, #8EF9B9 53.8%, #17FF75 99.99%);
    box-shadow: 1px 2px 2px rgba(16, 139, 66, 0.4);
    border-radius: 25px;
    font-size: 20px;
    line-height: 24px;
    color: #1D2025;
    cursor: pointer;
}