.footer {
    padding-top: 55px;
    padding-bottom: 96px;
    background: #1D2025;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__logo {
        font-size: 30px;
        line-height: 37px;
        color: #fff;
    }

    &__menu {
        display: flex;
        column-gap: 45px;
    }

    &__menu-link {
        font-family: 'Montserrat Medium', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        transition: all .3s;

        &:hover {
            color: #16BF13;
            text-decoration: underline;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contacts-item {
        margin-right: 20px;
    }

    &__contacts-phone,
    &__contacts-worktime {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__contacts-phone {
        font-family: 'Montserrat Medium', sans-serif;
        font-weight: 500;
    }

    &__contacts-worktime {
        text-align: right;
    }

    &__contacts-button {
        width: 385px;
        height: 60px;
    }
    &__contacts-button-mobile {
        display: none;
    }
    &__text {
        text-align: center;
        font-size: 30px;
        line-height: 37px;
        color: #fff;
        margin-bottom: 35px;
    }
    &__text-info {
        text-align: center;
        font-family: 'Roboto Regular', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
}